/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.page-container {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}

.description {
  margin: 20px;
}

.wrapper {
  padding: 30px;
}
